.navbar {
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    display: block;
    background: #507380;
    right: 0;
    left: 0;
    z-index: 100;
}

.content {
    display: inline-block;
}

.sidebar {
    float: right;
    padding: 0 0 10px 6px;
    width: 370px;
    z-index: 10;
}

.floater-wrapper {
    position:relative;
    width: inherit;
}

.floater {
    background: #ddd;
    border: 2px solid #DD807A;
}

.maincontent {
    width: 360px;
    float: left;
    background: #eee;
    border: 2px solid #58EE54;
}

.footer {
    width: 100%;
    height: 350px;
    display: block;
    background: #30312F;
}